.fondo-2{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
}

.container-position{
    position: fixed;
    width: 100%;
    top: 7%;
  }

.footer{
    background-color: black;
    z-index: 2;
    background-image: url('../../../../public/images/fondo-footer-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    bottom: 0%;
    width: 100%;
    height: 15%;
    position: absolute;
    color: white;
    display: flex;
    vertical-align: middle;
    align-items: center;
    text-align: center;
  }

  .footer .content{
    margin: auto;
    text-align: center;
  }

  .footer h1{
    margin: 0;
  }

  .footer-social{
    position: relative;
    display: inline;
    margin-left: 2%;
    margin-right: 2%;
  }

  .social-icon{
    width: 4%;
  }

  .nav{
    background-color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0%;
    display: flex;
    height: 100%;
  }

  .header{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 7%;
    z-index: 2;
  }

  .header hr{
    bottom: 0%;
    border: 0.1rem solid black;
    position: absolute;
    width: -webkit-fill-available;
    margin: 0%;
    z-index: 2;
  }

  .nav-button{
    font-family: Roboto;
    font-weight: bolder;
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: 50%;
    top: 25%;
    bottom: 25%;
  }

  .nav a{
    color: black;
    text-decoration: none;
    position: relative;
    width: 15%;
    height: 101%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .nav a:hover{
    color: #C4C4C4;
    border-bottom: 0.3rem solid #C4C4C4;
    z-index: 3;
  }

  .icons-1{
    width: 5%;
    height: 5%;
    fill: #C4C4C4;
  }