@import url('https://fonts.googleapis.com/css?family=Revalia|Roboto&display=swap');

body {
    background-color: #C4C4C4 !important;
    margin: 0;
    padding: 0;
    font-family: 'Revalia', cursive;
  }

  .particulas{
    z-index: 1;
    width: 100%;
    height: 110%;
  }

  .titulo{
    z-index: 2;
    font-family: Revalia;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .contenedor{
    display: flex;
    position: absolute;
    vertical-align: middle;
    align-items: center;
    height: 75%;
    width: 98%;
  }


  .image-principal{
    position: absolute;
    width: 60%;
    left: 0%;
    margin-left: 10%;
    filter: brightness(80%);
    box-shadow: 0px 0px 1rem 0.1rem rgba(0,0,0,0.75);
    border-radius: 2%;
  }

  .bajada{
    position: relative;
    animation-duration: 2s;
    animation-name: caida;
  }

  .subida{
    position: relative; 
    animation-duration: 2s;
    animation-name: subida;
  }

  @keyframes caida {
    from {
      top: -100%;
      height: 100%;
    }
  
    to {
      height: 180%;
      top: 0%;
    }
  }

  @keyframes subida {
    from {
      bottom: -100%;
      height: 100%;
    }
  
    to {
      height: 180%;
      bottom: 0%;
    }
  }
 